{% set credentialModalContent %}
  <div class="p-10 bg-white rounded-[2rem] shadow-border-px shadow-blue relative">
    <button class="absolute top-4 right-4 block lg:top-4 lg:right-4 js-modal-close transition text-grey-100 hover:text-blue">
      {% include "../ui/icon.twig" with {
        props: {
          href: "ic-close",
          class: "w-10",
        }
      } only %}
    </button>
    <div class="js-custom-modal-content"></div>
  </div>
{% endset %}

{% include "../ui/modal.twig" with {
  props: {
    id: "custom",
    class: "",
    children: credentialModalContent,
    windowClass: "w-[45.3rem] max-w-full",
    closeClass: "hidden",
  }
} only %}
