<footer class="pt-10 pb-[8.8rem] lg:pb-10 bg-grey-300">
  <div class="container">
    <div class="inner flex justify-between items-center">
      <a href="#top" class="flex-shrink-0 mr-[7.6rem] js-smooth-scroll">
        <img src="./img/logo.png" alt="Логотип: Тут эвакуатор" class="w-[11.2rem] h-[11.2rem] block">
      </a>
      <nav class="flex-grow">
        <ul class="grid gap-3 grid-cols-[repeat(5,auto)] lg:grid-cols-[1fr_auto] sm:grid-cols-1 uppercase justify-between text-white text-r-sm">
          <li class="">
            <a href="#" class="whitespace-nowrap hover:text-blue transition">Вызвать эвакуатор</a>
          </li>
          <li class="">
            <a href="#" class="whitespace-nowrap hover:text-blue transition">Добавить эвакуатор на сайт</a>
          </li>
          <li class="">
            <a href="#" class="whitespace-nowrap hover:text-blue transition">Помощь</a>
          </li>
          <li class="">
            <a href="#" class="whitespace-nowrap hover:text-blue transition">Правила оплаты</a>
          </li>
          <li class="">
            <a href="#" class="whitespace-nowrap hover:text-blue transition">Защита персональных данных</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
