.scrollbar {
  &-vertical {
    @apply -mr-1.5 overflow-y-auto overflow-x-hidden pr-1.5;
    scrollbar-width: thin;
    scrollbar-color: #cfd5dd #fff0;

    &::-webkit-scrollbar {
      @apply w-1.5 rounded-2xl lg:w-0.5;
    }

    &::-webkit-scrollbar-track {
      @apply rounded-2xl;
      box-shadow: inset 0 0 6px #FFF;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-2xl bg-[#cfd5dd];
    }
  }
}
