<section class="py-[10rem] bg-white lg:py-[6rem] mb-[16.3rem] lg:mb-[0]">
  <div class="container">
    <div class="inner">
      <h2 class="text-h-sb-m mb-12">Преимущества онлайн-сервиса ТутЭвакуатор.Ру</h2>
      <p class="text-r-l mb-6 max-w-[75rem]">ТутЭвакуатор.Ру – это удобный сервис для тех, кому нужно недорого и быстро перевезти авто с техническими неисправностями или же с повреждениями, полученными при ДТП в Москве.</p>
      <div class="grid grid-cols-[7.33fr_6.33fr] mb-[10rem] lg:grid-cols-1 gap-[3.4rem]">
        <div class="">
          <p class="text-b-l mb-8">Воспользовавшись ​ТутЭвакуатор.Ру, вы сможете:</p>
          {% include "../ui/list.twig" with {
            props: {
              list: [
                "получить постоянный доступ к базе надежных перевозчиков Москвы — сервис работает всегда, вне зависимости от воскресных/праздничных дней",
                "заказать эвакуатор круглосуточно — 24/7",
                "выбрать самое экономически выгодное предложение — цены на эвакуационные услуги рыночные, разница может быть ощутимой",
                "договориться с транспортной компанией напрямую — без посредников и комиссионных",
                "осуществить эвакуацию авто недорого — без скрытых платежей, неучтенных расходов",
                "вызвать эвакуатор в срочном порядке — охвачена Московская область, стоянки спецтехники базируются во многих районах Москвы, подача выполняется оперативно",
              ]
            }
          } only %}
        </div>
        <div class="-mt-10 -mr-5 lg:m-0">
          <img src="./img/advantages/bg.png" alt="" class="block object-contain w-full lg:max-h-[60rem]">
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 -mb-[26.3rem] lg:grid-cols-1 lg:mb-0">
        <div class="p-12 bg-yellow-200">
          <p class="text-b-l mb-8">Как оплатить заказ на эвакуатор</p>
          <p class="text-r-l mb-6">Услуги по эвакуации вы оплачиваете непосредственно исполнителю – транспортной компании, взявшейся за перевозку вашего ТС. Оплата производится по завершении эвакуации, после выгрузки авто в конечной точке в Москве.</p>
          <p class="text-r-l mb-6">Формы оплаты стандартные для Москвы: наличный/безналичный расчет или банковский перевод. Эварус не взимает комиссионные с клиентов за пользование сервисом.</p>
        </div>
        <div class="p-12 bg-yellow-200">
          <p class="text-b-l mb-8">Как скоро прибудет эвакуатор</p>
          <p class="text-r-l">При оформлении заказа перевозчик сообщит вам расчетное время прибытия эвакуатора в точку погрузки авто. Как правило, в Москве это происходит в течение 10-15 мин., но зависит от загруженности дорог Москвы и погодных условий. Перевозчик, принявший заказ, будет информировать вас о наличии дорожных пробок и возможной задержке подачи эвакуатора. Автопарки наших партнеров находятся во многих районах Москвы, поэтому мы рекомендуем вам выбрать ближайший эвакуатор, чтобы ускорить процесс транспортировки авто.</p>
        </div>
      </div>
    </div>
  </div>
</section>