<section class="pt-20 pb-15 bg-yellow-200 relative lg:pt-15 lg:pb-10">
	<div class="container ">
		<div class="inner grid grid-cols-2 gap-[10.2rem] lg:grid-cols-1 lg:grid-rows-[1fr,_50rem] lg:gap-0">
			<div class="col-start-2">
				<h2 class="text-h-sb-m mb-8">Как эвакуировать авто с заблокированными колесами</h2>
				<p class="text-r-l mb-6">При помощи сервиса ТутЭвакуатор.Ру вы сможете вызвать эвакуатор в экстренных ситуациях, например, когда колеса авто заблокированы или ходовая ТС критически пострадала в результате аварии.</p>
        <p class="text-r-l mb-6">Перевозка автомобиля с заблокированными колесами возможна несколькими типами эвакуаторов:</p>
        {% include "../ui/list.twig" with {
          props: {
            list: [
              "Эвакуатор с манипулятором. На ТС устанавливают четыре колесных захвата, закрепленных на широких текстильных стропах. С помощью специальных петель оператор манипулятора регулирует длину строп, чтобы при перемещении на эвакуатор авто не кренилось. Стропы присоединяют 
              к линейной или H-образной траверсе. 
              Кран-манипулятор подхватывает траверсу 
              за проушину, поднимает автомобиль 
              и загружает на платформу эвакуатора.",
              "Эвакуатор с гидроплатформой 
              (без аппарелей) и лебедкой. Авто приподнимают домкратом, 
              под заблокированные колеса устанавливают подкатные тележки. При помощи лебедки авто затягивают на наклонную платформу эвакуатора. После этого платформу эвакуатора приводят в горизонтальное положение.",
            ]
          }
        } only %}
			</div>
		</div>
		<div class=" absolute left-0 right-1/2 top-0 bottom-0 lg:right-0 lg:top-[calc(100%-50rem)]">
			<img src="./img/how-to-evacuate/bg.jpg" alt="" class="block w-full h-full object-cover object-right lg:object-top">
		</div>
	</div>
</section>
