<section class="py-[10rem] bg-white lg:py-[6rem]">
  <div class="container">
    <div class="inner grid grid-cols-[6.8fr_6.77fr] lg:grid-cols-1">
      <div class="pr-10 sm:pr-0 lg:mb-10">
        <h2 class="text-h-sb-m mb-12">Как вызвать эвакуатор в Москве дешево?</h2>
        <p class="text-r-l whitespace-pre-line mb-6 lg:whitespace-normal">Поломка авто или ДТП – случайностей на дороге много. Решение одно – вызвать эвакуатор 
        и доставить неисправный автомобиль
        на СТО/парковку или в гараж в Москве. 
        С помощью онлайн-сервиса Эварус вы сможете заказать услугу эвакуатора в Москве (Московской области) максимально быстро 
        и при этом сэкономить.</p>
        <p class="text-r-l whitespace-pre-line lg:whitespace-normal">Мы предоставляем доступ к базе коммерческих 
        и частных эвакуаторов Москвы. Это надежные компании, которые оперативно пришлют спецтехнику вам на помощь и обеспечат безопасную транспортировку авто.</p>
      </div>
      <div class="-mb-[5rem] -my-[1rem] -mt-[1rem] lg:m-0">
        <img src="./img/how-to-call/bg.png" alt="" class="block h-full object-contain">
      </div>
    </div>
  </div>
</section>