<section class="py-[10rem] lg:py-[6rem]">
  <div class="container">
    <div class="inner">
      <h2 class="text-h-sb-m mb-12">Что входит в стоимость перевозки эвакуатором</h2>
      <p class="text-r-l mb-8">Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и выгрузке авто, 
      а также по подаче эвакуатора в пункт дислокации ТС в Москве.</p>
      <p class="text-b-l mb-8">При формировании цены перевозчики берут в расчет четыре аспекта:</p>
      <ul class="grid grid-cols-4 gap-6 lg:grid-cols-2 sm:grid-cols-1">
        <li class="pt-18">
          <div class="relative h-full px-5 pt-8 pb-[2.8rem] z-0 rounded-[2rem] bg-blue after:top-0 after:left-1/2 after:-translate-x-1/2 after:absolute after:w-[15rem] after:-translate-y-18 after:bg-blue after:h-[15rem] after:rounded-full after:-z-10">
            <img src="./img/included-in-cost/item-01.png" alt="" class="block absolute top-0 left-1/2 -translate-x-1/2 -translate-y-15 w-20 h-20">
            <h3 class="text-sb-m text-center text-white mb-4.5">Грузоподъемность
            эвакуатора</h3>
            <p class="text-r-md text-center whitespace-pre-line text-white">Чем мощнее эвакуатор,
            тем дороже обходится 
            ее эксплуатация, 
            чем внушительнее будет 
            сумма к оплате эвакуации</p>
          </div>
        </li>
        
        <li class="pt-18">
          <div class="relative h-full px-5 pt-8 pb-[2.8rem] z-0 rounded-[2rem] bg-blue after:top-0 after:left-1/2 after:-translate-x-1/2 after:absolute after:w-[15rem] after:-translate-y-18 after:bg-blue after:h-[15rem] after:rounded-full after:-z-10">
            <img src="./img/included-in-cost/item-02.png" alt="" class="block absolute top-0 left-1/2 -translate-x-1/2 -translate-y-15 w-20 h-20">
            <h3 class="text-sb-m text-center text-white mb-4.5">Предполагаемый пробег</h3>
            <p class="text-r-md text-center whitespace-pre-line text-white">Учитывается удаленность 
            стоянки эвакуатора 
            от местоположения ТС, расстояние между пунктами погрузки в Москве
            и выгрузки авто</p>
          </div>
        </li>

        <li class="pt-18">
          <div class="relative h-full px-5 pt-8 pb-[2.8rem] z-0 rounded-[2rem] bg-blue after:top-0 after:left-1/2 after:-translate-x-1/2 after:absolute after:w-[15rem] after:-translate-y-18 after:bg-blue after:h-[15rem] after:rounded-full after:-z-10">
            <img src="./img/included-in-cost/item-03.png" alt="" class="block absolute top-0 left-1/2 -translate-x-1/2 -translate-y-15 w-20 h-20">
            <h3 class="text-sb-m text-center text-white mb-4.5">Дополнительное оборудование</h3>
            <p class="text-r-md text-center whitespace-pre-line text-white">При эвакуации машин 
            с серьезными поломками перевозчики оснащают эвакуатор вспомогательными приспособлениями, 
            что закономерно отражается 
            на стоимости транспортировки.</p>
          </div>
        </li>

        <li class="pt-18">
          <div class="relative h-full px-5 pt-8 pb-[2.8rem] z-0 rounded-[2rem] bg-blue after:top-0 after:left-1/2 after:-translate-x-1/2 after:absolute after:w-[15rem] after:-translate-y-18 after:bg-blue after:h-[15rem] after:rounded-full after:-z-10">
            <img src="./img/included-in-cost/item-04.png" alt="" class="block absolute top-0 left-1/2 -translate-x-1/2 -translate-y-15 w-20 h-20">
            <h3 class="text-sb-m text-center text-white mb-4.5">Уровень сложности</h3>
            <p class="text-r-md text-center whitespace-pre-line text-white">При значительном повреждении автомобиля погрузочно-разгрузочные работы усложняются. Они требуют подключения водителя-оператора высокой квалификации</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>