<section class="pt-[10.6rem] pb-[10rem] lg:py-15">
  <div class="container">
    <div class="inner js-info-tabs">
      <div class="swiper -mb-10 js-info-tabs-thumbs">
        <div class="swiper-wrapper">
          <a href="#cost" class="swiper-slide pt-5 pb-15 px-13 [&.swiper-slide-thumb-active]:bg-white rounded-t-[2rem] max-w-max shadow-[.2rem_.2rem_1rem_.2rem_rbba(39,52,58,.15)] text-r-xl">Стоимость</a>
          <a href="#how-to-order" class="swiper-slide pt-5 pb-15 px-13 [&.swiper-slide-thumb-active]:bg-white rounded-t-[2rem] max-w-max shadow-[.2rem_.2rem_1rem_.2rem_rbba(39,52,58,.15)] text-r-xl">Как заказать</a>
        </div>
      </div>
      <div class="swiper js-info-tabs-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide px-15 pt-12 pb-15 bg-white rounded-[2rem] shadow-[.2rem_.2rem_1rem_.2rem_rbba(39,52,58,.15)]">
            <h2 class="text-h-sb-m mb-8">Стоимость вызова эвакуатора для перевозки авто</h2>
            <p class="text-r-l mb-8">На сайте Эварус представлены цены, выставленные перевозчиками за стандартную услугу эвакуации авто по Москве и области. Начальная стоимость транспортировки зависит от габаритов и веса ТС: перевозка мотоцикла/малолитражки будет стоить дешевле, чем внедорожника/минивена. Дороже всего обойдется эвакуация неисправной спецтехники и грузового транспорта.</p>
            <p class="text-sb-l mb-[2.8rem]">На стоимость услуги эвакуатора в Москве влияет ряд факторов:</p>
            {% include "../ui/list.twig" with {
              props: {
                class: "mb-[2.8rem]",
                list: [
                  "класс, масса, степень повреждения транспортируемого авто",
                  "первоначальное месторасположение ТС в Москве и дальность следования",
                  "сложность погрузочно-разгрузочных операций",
                  "дорожные и погодные условия Москвы",
                ]
              }
            } only %}
            <p class="text-r-l mb-8">Окончательная цена зависит от того, куда подавать эвакуатор и где впоследствии выгружать автомобиль: Москва это будет или Московская область. Транспортировка по МО оплачивается согласно прайсу, плюс тариф за каждый км пробега от МКАД. Суммарная оплата увеличится, если машина находится в кювете/яме/гараже/водоеме и подъезд к ней усложнен. Стоимость возрастет и при наличии заблокированных колес/рулевого управления или серьезного повреждения ТС.
            Все нюансы эвакуации авто вы сможете обсудить с перевозчиком. Ознакомившись с конкретной ситуацией, он озвучит цену и сроки подачи эвакуатора.</p>
            <p class="text-sb-l mb-[2.8rem]">В каких случаях возможно изменение стоимости услуги после прибытия эвакуатора к месту погрузки авто:</p>
            {% include "../ui/list.twig" with {
              props: {
                class: "mb-[2.8rem]",
                list: [
                  "простой эвакуатора по вине клиента",
                  "смена маршрута после размещения заказа",
                  "непредвиденное усложнение эвакуации из-за неправильных/неполных данных о ТС",
                ]
              }
            } only %}
            <p class="text-r-l">Во избежание незапланированных трат, сообщите диспетчерской службе подробные сведения о своем автомобиле и обстоятельствах его поломки.</p>
          </div>
          <div class="swiper-slide px-15 pt-12 pb-15 bg-white rounded-[2rem] shadow-[.2rem_.2rem_1rem_.2rem_rbba(39,52,58,.15)]">
            <h2 class="text-h-sb-m mb-8">Стоимость вызова эвакуатора для перевозки авто</h2>
            <p class="text-r-l mb-8">Воспользовавшись онлайн-ресурсом Эварус, вы сократите время на поиск эвакуатора в Москве, МО и закажете услугу по оптимальной цене. Вам не придется обзванивать знакомых или долго искать телефон эвакуатора в интернете. Проанализируйте предложения на нашем сайте, выберите лучшие условия и стоимость перевозки.</p>
            <p class="text-sb-l mb-[2.8rem]">Как вызвать эвакуатор с помощью онлайн-сервиса ТутЭвакуатор.Ру:</p>
            {% include "../ui/list.twig" with {
              props: {
                type: "ol",
                class: "mb-[2.8rem]",
                list: [
                  "Ознакомьтесь с картой Москвы и Московской области, на которой желтыми маркерами обозначены стоянки эвакуаторов.",
                  "Увеличьте масштаб и определите, какой из адресов находится рядом с местом вашей дислокации",
                  "Выберите ближайший эвакуатор и нажмите на соответствующий маркер",
                  "Просмотрите детальную информацию о перевозчике: возможные способы погрузки ТС, комплектацию автопарка, типы транспортируемых авто прайс с ценами",
                  "Кликните по голубому полю внизу карточки перевозчика и возьмите телефонный номер компании",
                  "Созвонитесь с диспетчером фирмы, обсудите детали эвакуации в Москве/МО и стоимость заказа",
                  "Сравните цены и условия перевозки у нескольких компаний, выберите наиболее подходящий для себя вариант",
                ]
              }
            } only %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>