<section class="bg-yellow-200 py-[10rem] lg:py-[6rem]">
  <div class="container">
    <div class="inner">
      <h2 class="text-h-sb-m mb-12">Что нужно знать, чтобы заказать эвакуатор в Москве</h2>
      <div class="grid grid-cols-2 gap-10 lg:grid-cols-1">
        <div class="">
          <picture class="flex justify-center w-full">
            <img src="./img/need-to-know/item-01.png" alt="" class="block h-[30.5rem] object-cover mb-6">
          </picture>
          <p class="text-r-l whitespace-pre-line lg:whitespace-normal">Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают 
          круглосуточно. Когда бы вы не позвонили, 
          эвакуатор найдется всегда. Размещая заказ 
          на эвакуатор, ознакомьтесь с информацией 
          о транспортной компании, проконсультируйтесь 
          с ее специалистами и выберите оптимальный 
          вариант перевозки своего ТС.</p>
        </div>
        <div class="">
          <picture class="flex justify-center w-full">
            <img src="./img/need-to-know/item-02.png" alt="" class="block h-[30.5rem] object-cover mb-6">
          </picture>
          <p class="text-r-l whitespace-pre-line lg:whitespace-normal">Примите во внимание, что одни и те же виды эвакуаторов рассчитаны на транспортировку авто разных классов. Вопрос заключается лишь в том, какой тип эвакуатор будет выгоднее задействовать в вашем случае. Следуя рекомендациям перевозчика, вы сможете недорого эвакуировать авто как в Москве, так и в области.</p>
        </div>
      </div>
    </div>
  </div>
</section>